{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>beliefmaker</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
	</script>
</head>
<style type="text/css">
	h4 {text-align: center;}
</style>

<body>

	{% include 'solver/navbar.html' %}

	{% block content %}

	{% endblock %}

	<hr>
	<h5>Thanks for checking out this website.</h5>
</body>

</html>