{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="https://bick95.pythonanywhere.com/">beliefmaker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="https://bick95.pythonanywhere.com/">Solver</a>
      </li>
      <!-- Dropdown start -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/">Introduction</a>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/how_to">How To - Getting started</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/logical_background">Logical Background</a>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/example">Example</a>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/technical_report">Technical Report</a>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/logic_implementation">Logic Implementation</a>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/limitations_considerations">Limitations & Considerations</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://bick95.github.io/beliefmaker/refs">References</a>
            </div>
          </li>
          <!-- Dropdown end -->
      <li class="nav-item">
        <a class="nav-link" href="https://en.wikipedia.org/wiki/Epistemic_modal_logic" target="_blank">Ask Wikipedia about KD45</a>
      </li>
    </ul>
  </div>
</nav>
